body{margin: 0;}
h1 { font-family: Tahoma; }
h3 {float:left; margin-left:  10px; font-family: Verdana, Geneva, sans-serif; color: blueviolet;}
h4{font-family: Times new roman;}
p {
	float:right;
	color: gray;
	margin-right: 10px;
}
img {
	margin: auto;
	height: 450px;
	width: 600px;
}
.body {
	background-color: grey;
	width: 100%;
	padding: 10px;
	margin: auto;
}
div.frameContent {
	height: 600px;
	width: 600px;
	margin: auto;
	background-color: white;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}
div.header {
	background-color: white;
	margin: auto;
	padding: 10px;
	text-align: center;
}

